$darkpurple: #3C3457;
$transparent-black: rgba(0, 0, 0, 0.35);
$light-green: #D6E5D5;
$dull-light-green: #C8D6C7;
$bright-green: #80EC75;

body {
  background-color: $darkpurple;
  margin: 0;
}

.container {
  height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keypad-container {
  border: 3px solid $transparent-black;
  height: 400px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 30px 30px 45px 30px;
}

.display {
  background: $transparent-black;
  color: $dull-light-green;
  font-family: sans-serif;
  width: 466px;
  height: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#calculation {
  font-size: 1.2em;
  position: absolute;
  top: 15px;
  left: 30px;
}

#result {
  font-size: 2.5em;
  text-align: right;
  position: absolute;
  bottom: 7px;
  right: 30px;
  width: 315px;
  overflow: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  background: none;
  border: none;
}

.btn {
  color: $light-green;
  font-size: 2.8em;
  font-family: sans-serif;
  text-align: center;
  width: 60px;
  padding: 5px;
  margin: 10px 20px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;

  &-function {
    color: $bright-green;
  }

  &:hover {
    cursor: pointer;
  }
}

.clicked {
  background-color: $transparent-black;
}



@media screen and (max-width: 650px) {
  .btn {
    margin: 7px;
  }

  .keypad-container {
    border: 0;
    padding: 20px;
  }

  .display {
    width: 100vw;
    top: 0;
    position: relative;
  }

}

@media screen and (orientation: landscape) {
  .keypad-container {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .display {
    height: 200px;
  }
}
