$darkpurple: #3C3457;
$transparent-black: rgba(0, 0, 0, 0.35);
$light-green: #D6E5D5;
$dull-light-green: #C8D6C7;
$bright-green: #80EC75;

body {
  background-color: $darkpurple;
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.keypad-container {
  width: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display {
  background: $transparent-black;
  color: $dull-light-green;
  font-family: sans-serif;
  width: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#calculation {
  padding: 30px;
  font-size: 1.5em;
}

#result {
  padding: 20px;
  font-size: 2.5em;
  text-align: right;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  background: none;
  border: none;
}

.btn {
  color: $light-green;
  font-size: 2.5em;
  font-family: sans-serif;
  text-align: center;
  width: 60px;
  padding: 5px;
  margin: 8px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;

  &-function {
    color: $bright-green;
  }

  &:hover {
    cursor: pointer;
  }
}

.clicked {
  background-color: $transparent-black;
}



@media screen and (max-width: 650px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .keypad-container {
    width: 100vw;
    height: 75vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 30px;
  }

  .btn {
    font-size: 2.8em;
    margin: 12px;
  }

  .display {
    width: 100vw;
    height: 25vh;
    position: relative;
  }

  #calculation {
    font-size: 1.2em;
    padding: 10px;
    position: absolute;
    top: 5px;
    left: 50px;
  }

  #result {
    padding: 10px;
    position: absolute;
    bottom: 7px;
  }

}

@media screen and (max-width: 920px) {
  #result {
    width: 312px;
    overflow: hidden;
  }
}
